body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

.navbar {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container {
    margin-top: 30px;
}

h2 {
    font-weight: 700;
    margin-bottom: 20px;
    color: #007bff;
}

.table {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.table thead th {
    background-color: #007bff;
    color: #fff;
}

.table tbody tr {
    transition: background-color 0.3s;
}

.table tbody tr:hover {
    background-color: #e2e6ea;
}

.btn {
    border-radius: 50px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.btn-warning {
    background-color: #ffc107;
    border: none;
    color: #212529;
}

.btn-warning:hover {
    background-color: #e0a800;
    box-shadow: 0 4px 8px rgba(255, 193, 7, 0.3);
}

.btn-danger {
    background-color: #dc3545;
    border: none;
}

.btn-danger:hover {
    background-color: #c82333;
    box-shadow: 0 4px 8px rgba(220, 53, 69, 0.3);
}
