<div class="container mt-4" style="max-width: 600px;">
    <h2 class="text-center">Editar Ejemplar</h2>
    <form action="/ejemplares/edit/{{ejemplar._id}}" method="POST">
        <div class="form-group">
            <label for="id_libro">ID del Libro</label>
            <input type="text" class="form-control" id="id_libro" name="id_libro" value="{{ejemplar.id_libro._id}}" required readonly>
        </div>
        <div class="form-group">
            <label for="fecha_adquisicion">Fecha de Adquisición</label>
            <input type="date" class="form-control" id="fecha_adquisicion" name="fecha_adquisicion" value="{{ejemplar.fecha_adquisicion}}" required>
        </div>
        <div class="form-group">
            <label for="estado">Estado</label>
            <input type="text" class="form-control" id="estado" name="estado" value="{{ejemplar.estado}}" required>
        </div>
        <button type="submit" class="btn btn-primary">Actualizar</button>
        <button type="button" class="btn btn-secondary" onclick="window.location.href='/ejemplares/list'">Cancelar</button>
    </form>
</div>
