
<div class="container mt-4" style="max-width: 600px;">
    <h2 class="text-center">Añadir Categorias</h2>
    <form action="/categorias/add" method="POST">
        <div class="form-group">
            <label for="id_categoria">ID categoria</label>
            <input type="text" class="form-control" id="id_categoria" name="id_categoria" required>
        </div>
        <div class="form-group">
            <label for="nombre_categoria">Nombre de categoria</label>
            <input type="text" class="form-control" id="nombre_categoria" name="nombre_categoria" required>
        </div>
        <div class="form-group">
            <label for="tipo_prestamo">Descripcion</label>
            <input type="text" class="form-control" id="descripcion" name="descripcion" required>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
    </p>
</div>

